@charset "UTF-8";

/* Configurações Gerais */

* {
    font-family: 'Courier New', Courier, monospace;
}

body {
    margin: 0;
    padding: 0;
}

header{
    background-color: lightgrey;
    padding: 10px;
    text-align: center;
    margin: auto;

}

header h1 {
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.250);
    text-align: center;
    padding: 10px 0;
    padding-top: 0;
    padding-bottom: 10pxs;
    margin: 0;
}

header nav {
    margin: 20px;
    margin-bottom: -10px;
    margin-left: -17px;
    padding: 5px;
    text-align: left;

}

menu {
    display: none;
}

nav a:hover {
    background-color: #575757; 
    color: white;
    
    }

main h1 {
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.250);
    padding: 1%;
    text-align: left;
    display: grid;
    place-items: center;

}

main {
    background-color: lightgrey;
    display: grid;
    place-items: center;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    width: 768px;

}

span#burguer {
    background-color: rgb(48, 48, 48);
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

span#burguer:hover {
    background-color: white;
    color: black;
}

main p {
    margin: auto;
}

a {
    background-color: #575757;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;


}

ul {
    list-style-type: none;
    display: block;
    text-align: left;
    margin: 0;
    padding: 0;
}





img#phone {display: none; }
img#tablet {display: none; }
img#impressora {display: none; }
img#desktop {display: block; }
img#tv {display: none; }