@charset "UTF-8";

/*-- Configurações Gerais das Media Queries --*/




@media screen and (min-width:768px) {
    main {
        width: 768px;
    }
    
}

@media screen and (min-width: 992px) and (max-width: 3000px) { /*--Desktop--*/

    header h1 {
        color: darkred;
        align-items: center;
        text-align: center;
        display: block;
    }



    img#phone {display: none;}
    img#tablet {display: none;}
    img#impressora {display: none;}
    img#desktop {display: block;}
    img#tv {display: none;}
}

@media screen and (min-width: 769px) and (max-width: 992px) { /*--TABLET--*/
    
    header h1 {
        color: darkblue;
    }

    img#phone {display: none;}
    img#tablet {display: block;}
    img#impressora {display: none;}
    img#desktop {display: none;}
    img#tv {display: none;}
}

@media screen and (min-width: 200px) and (max-width: 768px)  { /*--Celular--*/
    
    header h1 {
        color: darkorchid;
    }

    img#phone {display: block;}
    img#tablet {display: none;}
    img#impressora {display: none;}
    img#desktop {display: none;}
    img#tv {display: none;}
}

@media screen and (min-width: 3000px) { /*--TV--*/
    
    header h1 {
        color: darkkhaki;
    }


    img#phone {display: none;}
    img#tablet {display: none;}
    img#impressora {display: none;}
    img#desktop {display: none;}
    img#tv {display: block;}
}

